@import "tailwindcss";

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.btn {
  @apply px-4 py-2 rounded-md hover:opacity-80 cursor-pointer duration-150 transition-all;
}

.input {
  @apply rounded-lg border border-gray-200 outline-0 focus:border-black/50 focus-within:ring-3 focus-within:ring-gray-400 transition-all duration-150;
}
