@import "tailwindcss";

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.btn {
  @apply px-4 py-2 rounded-md hover:opacity-80 cursor-pointer duration-150 transition-all;
}
